@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.mac-img{
    width: 600px;
}
.mac-img img{
    width: 100%;
}
/* customize option css */
.memory,
.storage,
.delivery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.memory h2,
.storage h2,
.delivery h2{
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 10px;
}
.memory h2:hover,
.storage h2:hover,
.delivery h2:hover{
    background-color: black;
    color: white;
}
/* price tavle css here */
table tr td{
    padding: 5px 8px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}
table td:nth-child(even){
    padding-left: 100px;
}
